.pagination{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    .btn-pagi{
        padding: 10px;
        background: $background-color;
        color: $white-color;
        width: 40px;
        height: 40px;
        border: 1px solid $white-color;
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
        &.active, &:hover{
            color: $background-color;
            background: $white-color;
        }
        &:disabled{
            color: $gray-color;
            border: 1px solid $gray-color;
            cursor:default;
            &:hover{
                background: none;
            }
        }
    }
}