.container {
  height: 80vh;
  width: 400px;
  margin: 100px auto;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background-image: url("../../../assets/images/logo.jpg");
  }
  .title {
    margin-bottom: 20px;
  }
}
